@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}
.wrapper{
    background-color:hsl(0, 100%, 74%);
    background-image: url(./images/bg-intro-desktop.png);
    background-blend-mode:inherit;
    min-width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.learn{
    background-color: transparent;
    width: 40%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 10%;
}
.learn > h2{
    color:whitesmoke;
    margin-bottom: 6%;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Overpass', sans-serif;
}
.learn > p{
    color:whitesmoke;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
}
.form{
    background-color: transparent;
    width: 45%;
    height: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 2%;
    padding-right: 10%;
}
.try{
    background-color: hsl(248, 32%, 49%);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6vh;
    margin-bottom: 3%;
    border-radius: 7px;
    font-size: 15px;
    font-weight:600;
    font-family: 'Overpass', sans-serif;
    box-shadow: 0 0.5rem 0.5rem rgba(61, 60, 60, 0.291) ;
}
.try > span{
    font-size: 16px;
}
.form-card {
    display: flex;
    padding: 0px 25px;
    flex-direction:column ;
    background-color: white;
    width:100%;
    height: 55vh;
    padding-top: 7%;
    border-radius: 7px;
    box-shadow: 0 0.5rem 0.5rem rgba(61, 60, 60, 0.291) ;
}
.form-one{
    position: relative;
    width: 100%;
}
.form-one  svg{
    position: absolute;
    right: 15px;
    top: 15px;
    display: none;
}
.form-one > small > i{
    position: absolute;
    right: 0;
    top: 55px;
    color:hsl(0, 100%, 74%);
    font-size: 11px;
    display: none;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
}
.error{
    display: block;
    outline-color: hsl(0, 100%, 74%);
    border-color: hsl(0, 100%, 74%);
}
input{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    margin-bottom: -18px;
    padding-left: 6%;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    font-weight: 600;
    border-radius:7px ;
    border: .001px solid rgba(209, 201, 201, 0.83) ;
}
::-webkit-input-placeholder{
    font-weight: 600;
    font-size: 15px;
}
input:focus{
    outline-color: hsl(246, 25%, 77%);
    border-color: hsl(246, 25%, 77%);
}
input[type="submit"]{
    cursor: pointer;
    background-color: hsl(154, 59%, 51%);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 6vh;
    border-radius: 7px;
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 0.5rem 0.5rem rgba(152, 150, 150, 0.291) ;
    margin-top: 5px;
}
.form-card > p{
    display: flex;
    width: 100%;
    height:28vh;
    justify-content: center;
    align-items: center; 
    font-size: 11px;
    font-family: 'Overpass', sans-serif;
    color: rgb(160, 156, 156);
}
.form-card p > span{
    color:hsl(0, 100%, 74%);
}
@media screen  and (min-width:800px) and (max-width:1400px){
    .wrapper{
        background-color:hsl(0, 100%, 74%);
        background-image: url(./images/bg-intro-desktop.png);
        background-blend-mode: multiply;
        min-width: 90%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .try{
        margin-bottom: 5%;
        font-size: 10px;       
    }
    input[type="submit"]{
        font-size: 15px;
        font-weight: 0;
    }
    .form-card {
        height: 52vh;
    }
    input{
        height: 43px;
    }
    .form-card > p{
        height:28vh;
        font-size: 8px;
    }
    .form{
        padding-right: 2%;
    }
    .learn{
        padding-right: 3%;
        padding-left: 2%;
    }    
    .form-one{
        position: relative;
        width: 100%;
    }
    .form-one  svg{
        position: absolute;
        right: 15px;
        top: 11px;
    }
    .form-one > small > i{
        position: absolute;
        right: 0;
        top: 46px;
        color:hsl(0, 100%, 74%);
    }
  }
@media screen and (min-width:500px) and (max-width:799.9px){
    .wrapper{
        min-width: 90%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .learn{
        width: 100%;
        padding-right: 10%;
        padding-left: 10%;
        padding-top: 10%;
    }
    .learn > h2{
        margin-bottom: 0%;
        font-size: 30px;
        font-weight: 500;
        width: 100%;
        font-family: 'Overpass', sans-serif;
        text-align: center;
    }
    .learn > p{
        color:whitesmoke;
        font-family: 'Overpass', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        margin-top: 2%;
        text-align: center;
    }
    .try{
        margin-bottom: 3%;
        
    }
    input[type="submit"]{
        font-size: 12px;
        font-weight: 0;
    }
    .form-card {
        height: 55vh;
        margin-bottom: 11px;
    }
    input{
        height: 55px;
    }
    .form-card > p{
        height:28vh;
        font-size: 8px;
        margin-top: 10px;
    }
    .form{
        width: 100%;
        padding-right: 10%;
        padding-left: 10%;
    }
    ::-webkit-input-placeholder{
        font-weight: 500;
        font-size: 14px;
    }
}
@media screen and (min-width:200px) and (max-width:499.9px){
    .wrapper{
        min-width: 90%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .learn{
        width: 100%;
        padding-right: 10%;
        padding-left: 10%;
        padding-top: 10%;
    }
    .learn > h2{
        margin-bottom: 0%;
        font-size: 30px;
        font-weight: 500;
        width: 100%;
        font-family: 'Overpass', sans-serif;
        text-align: center;
    }
    .learn > p{
        color:whitesmoke;
        font-family: 'Overpass', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        margin-top: 2%;
        text-align: center;
    }
    .try > span{
        font-size: 13px;
    }
    .try{
        font-size: 11px;    
    }   
    input[type="submit"]{
        font-size: 12px;
        font-weight: 0;
        text-align: center;
        margin-top: 12px;
    }
    ::-webkit-input-placeholder{
        font-weight: 500;
        font-size: 12px;
    }
    .form-card {
        height: 45vh;
        margin-bottom: 11px;
    }
    input{
        height: 40px;
    }
    .form-card > p{
        height:28vh;
        font-size: 7px;
    }
    .form{
        width: 100%;
        padding-right: 10%;
        padding-left: 10%;
    }    
    .form-one{
        position: relative;
        width: 100%;
    }
    .form-one  svg{
        position: absolute;
        right: 15px;
        top: 9px;
    }
    .form-one > small > i{
        position: absolute;
        right: 0;
        top: 43px;
        color:hsl(0, 100%, 74%);
    }
}
@media screen and (min-height:400px) and (max-height:750px){
    .form-card {
        height: 55vh;
        margin-bottom: 11px;
    }
}